<h1>Concrete Regression Model</h1>

## Download and Clean Dataset

In [2]:
import pandas as pd
import numpy as np

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Download the data and read it into a <em>pandas</em> dataframe.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Amount of data points

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train the model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build the model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, the predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] #all columns except Strength
target = concrete_data['Strength'] #Strength column

Quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Normalize the data by substracting the mean and dividing by the standard deviation.

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Save the number of predictors to *n_cols* since this number will be needed when building the network.

In [11]:
n_cols = predictors_norm.shape[1] #number of predictors

#### Import the Keras library

In [12]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Building a Neural Network

Define a function that defines the regression model so that it can be conviniently called to create our model.

In [14]:
#define regression model
def regression_model():
    #create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,))) #uses the Relu function for the hidden layers
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    #compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train and Test the Network

Call the function now to create the model.

In [15]:
#build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Next, train and test the model at the same time using the *fit* method. Will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [16]:
#fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 721 samples, validate on 309 samples
Epoch 1/100

2023-12-26 16:39:28.788305: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2023-12-26 16:39:28.802821: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394310000 Hz
2023-12-26 16:39:28.805156: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55958dffc130 executing computations on platform Host. Devices:
2023-12-26 16:39:28.805227: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2023-12-26 16:39:28.947652: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 0s - loss: 1665.4655 - val_loss: 1166.6589
Epoch 2/100
 - 0s - loss: 1550.6782 - val_loss: 1051.7217
Epoch 3/100
 - 0s - loss: 1350.5817 - val_loss: 862.5034
Epoch 4/100
 - 0s - loss: 1033.8985 - val_loss: 612.2794
Epoch 5/100
 - 0s - loss: 660.5914 - val_loss: 369.7179
Epoch 6/100
 - 0s - loss: 371.5170 - val_loss: 229.6235
Epoch 7/100
 - 0s - loss: 269.6984 - val_loss: 186.9476
Epoch 8/100
 - 0s - loss: 249.0097 - val_loss: 179.1404
Epoch 9/100
 - 0s - loss: 233.3977 - val_loss: 172.1323
Epoch 10/100
 - 0s - loss: 221.5983 - val_loss: 167.4122
Epoch 11/100
 - 0s - loss: 213.1649 - val_loss: 160.1933
Epoch 12/100
 - 0s - loss: 204.1136 - val_loss: 158.3618
Epoch 13/100
 - 0s - loss: 197.1700 - val_loss: 153.6311
Epoch 14/100
 - 0s - loss: 190.6096 - val_loss: 150.4840
Epoch 15/100
 - 0s - loss: 185.3485 - val_loss: 147.9981
Epoch 16/100
 - 0s - loss: 180.5931 - val_loss: 144.9484
Epoch 17/100
 - 0s - loss: 175.7506 - val_loss: 142.6416
Epoch 18/100
 - 0s - loss: 172.2045 - val_loss: 142.6899
Epoch 19/100
 - 0s - loss: 168.2062 - val_loss: 139.5987
Epoch 20/100
 - 0s - loss: 164.9556 - val_loss: 141.5561
Epoch 21/100
 - 0s - loss: 161.4494 - val_loss: 138.8084
Epoch 22/100
 - 0s - loss: 158.4924 - val_loss: 141.0108
Epoch 23/100
 - 0s - loss: 156.0339 - val_loss: 140.6486
Epoch 24/100
 - 0s - loss: 153.6162 - val_loss: 138.1245
Epoch 25/100
 - 0s - loss: 151.0204 - val_loss: 140.7656
Epoch 26/100
 - 0s - loss: 148.9425 - val_loss: 141.4763
Epoch 27/100
 - 0s - loss: 146.3851 - val_loss: 141.7390
Epoch 28/100
 - 0s - loss: 144.0838 - val_loss: 139.5505
Epoch 29/100
 - 0s - loss: 142.3794 - val_loss: 142.3464
Epoch 30/100
 - 0s - loss: 139.9750 - val_loss: 145.4554
Epoch 31/100
 - 0s - loss: 137.9369 - val_loss: 140.7816
Epoch 32/100
 - 0s - loss: 136.2614 - val_loss: 142.3635
Epoch 33/100
 - 0s - loss: 134.2605 - val_loss: 143.9559
Epoch 34/100
 - 0s - loss: 132.5082 - val_loss: 143.3635
Epoch 35/100
 - 0s - loss: 130.6859 - val_loss: 144.6714
Epoch 36/100
 - 0s - loss: 128.0286 - val_loss: 145.3196
Epoch 37/100
 - 0s - loss: 126.2086 - val_loss: 144.9425
Epoch 38/100
 - 0s - loss: 124.4323 - val_loss: 146.3121
Epoch 39/100
 - 0s - loss: 122.1746 - val_loss: 146.8155
Epoch 40/100
 - 0s - loss: 119.9297 - val_loss: 147.1389
Epoch 41/100
 - 0s - loss: 118.2174 - val_loss: 144.0228
Epoch 42/100
 - 0s - loss: 115.2910 - val_loss: 145.0636
Epoch 43/100
 - 0s - loss: 113.2683 - val_loss: 146.6931
Epoch 44/100
 - 0s - loss: 111.2049 - val_loss: 143.3745
Epoch 45/100
 - 0s - loss: 108.8096 - val_loss: 144.2182
Epoch 46/100
 - 0s - loss: 106.8962 - val_loss: 146.6916
Epoch 47/100
 - 0s - loss: 103.0731 - val_loss: 138.2866
Epoch 48/100
 - 0s - loss: 100.8012 - val_loss: 146.7574
Epoch 49/100
 - 0s - loss: 98.0092 - val_loss: 142.4744
Epoch 50/100
 - 0s - loss: 95.0504 - val_loss: 145.6523
Epoch 51/100
 - 0s - loss: 92.5279 - val_loss: 141.8630
Epoch 52/100
 - 0s - loss: 90.7264 - val_loss: 140.5914
Epoch 53/100
 - 0s - loss: 87.4866 - val_loss: 146.0688
Epoch 54/100
 - 0s - loss: 85.8250 - val_loss: 148.6169
Epoch 55/100
 - 0s - loss: 82.6777 - val_loss: 146.8919
Epoch 56/100
 - 0s - loss: 80.2702 - val_loss: 140.6267
Epoch 57/100
 - 0s - loss: 77.5656 - val_loss: 136.6284
Epoch 58/100
 - 0s - loss: 76.0289 - val_loss: 139.7178
Epoch 59/100
 - 0s - loss: 74.4176 - val_loss: 137.3632
Epoch 60/100
 - 0s - loss: 71.3266 - val_loss: 142.7149
Epoch 61/100
 - 0s - loss: 69.1795 - val_loss: 135.3061
Epoch 62/100
 - 0s - loss: 67.7079 - val_loss: 142.9923
Epoch 63/100
 - 0s - loss: 65.6629 - val_loss: 149.0070
Epoch 64/100
 - 0s - loss: 64.0133 - val_loss: 148.7000
Epoch 65/100
 - 0s - loss: 62.5813 - val_loss: 143.6642
Epoch 66/100
 - 0s - loss: 60.6489 - val_loss: 148.6689
Epoch 67/100
 - 0s - loss: 58.6653 - val_loss: 138.4492
Epoch 68/100
 - 0s - loss: 57.8583 - val_loss: 140.8740
Epoch 69/100
 - 0s - loss: 57.1436 - val_loss: 156.4803
Epoch 70/100
 - 0s - loss: 54.1712 - val_loss: 138.3614
Epoch 71/100
 - 0s - loss: 53.4683 - val_loss: 163.7503
Epoch 72/100
 - 0s - loss: 52.8512 - val_loss: 148.4534
Epoch 73/100
 - 0s - loss: 51.1259 - val_loss: 143.6356
Epoch 74/100
 - 0s - loss: 50.5198 - val_loss: 141.7992
Epoch 75/100
 - 0s - loss: 49.0205 - val_loss: 149.4306
Epoch 76/100
 - 0s - loss: 48.4617 - val_loss: 147.7528
Epoch 77/100
 - 0s - loss: 47.4078 - val_loss: 151.5627
Epoch 78/100
 - 0s - loss: 46.2326 - val_loss: 140.9875
Epoch 79/100
 - 0s - loss: 45.8206 - val_loss: 142.7866
Epoch 80/100
 - 0s - loss: 45.1803 - val_loss: 142.0697
Epoch 81/100
 - 0s - loss: 44.4070 - val_loss: 153.3200
Epoch 82/100
 - 0s - loss: 43.7767 - val_loss: 132.7653
Epoch 83/100
 - 0s - loss: 43.5307 - val_loss: 144.2865
Epoch 84/100
 - 0s - loss: 42.0271 - val_loss: 144.4727
Epoch 85/100
 - 0s - loss: 41.6420 - val_loss: 140.3851
Epoch 86/100
 - 0s - loss: 41.4686 - val_loss: 139.7558
Epoch 87/100
 - 0s - loss: 40.5046 - val_loss: 147.5412
Epoch 88/100
 - 0s - loss: 40.3368 - val_loss: 145.9652
Epoch 89/100
 - 0s - loss: 40.3966 - val_loss: 135.5754
Epoch 90/100
 - 0s - loss: 39.3974 - val_loss: 137.6397
Epoch 91/100
 - 0s - loss: 38.7623 - val_loss: 136.3713
Epoch 92/100
 - 0s - loss: 38.5948 - val_loss: 132.5330
Epoch 93/100
 - 0s - loss: 38.4090 - val_loss: 129.0519
Epoch 94/100
 - 0s - loss: 38.0403 - val_loss: 147.3331
Epoch 95/100
 - 0s - loss: 37.6033 - val_loss: 134.1517
Epoch 96/100
 - 0s - loss: 37.3069 - val_loss: 133.0837
Epoch 97/100
 - 0s - loss: 36.9764 - val_loss: 136.1181
Epoch 98/100
 - 0s - loss: 36.6167 - val_loss: 139.7137
Epoch 99/100
 - 0s - loss: 35.6613 - val_loss: 145.7685
Epoch 100/100
 - 0s - loss: 35.7252 - val_loss: 148.0566